.newclass {
color: red;
}

.startcolor {
  color: #218838;
}

.jumbotron {
  padding: 2rem 2rem 1rem;
}

div.card {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

div.card-body {
  padding-bottom: 0.5rem;
}

strong {
  font-weight: 700;
}

.intro {
  text-align: center;
}

.introtext {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-bottom: 2rem;
}
