{% extends "base.html" %}
{% block content %}

<!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
	<h1 class="mt-5">Integritetskollen</h1>
          <p class="lead">Är du uppkopplad med Integrity VPN?</p>
        </div>
	<div class="col-lg-12" style="margin-top: 15px;">
	<div class="jumbotron">
		<p id="connectstatus"></p>
		<p id="ipv4"></p>
		<p id="ipv6"></p>
		<!--
	  	<p class="lead" id="ipv4"></p>
		<p class="lead" id="ipv6"></p>
		-->
		<p id="isp"></p>
	<p id="ping"></p>
	<p id="webrtcip"></p>
	<p id="ipv4-blacklist"></p>
	<p class="alert-danger" id="leak"></p>
      </div>
	</div>


      </div>

      </div>


      {% endblock %}
